@import "./_colors";
@import "./_mixins";

body {
  background-color: $Blue700;
  @include centerDiv;
  @include heightWidth(100vh, 100%);
  font-family: "Roboto", sans-serif;
}

main {
  display: block;
}

.mainContainer {
  @include splitDiv;
  @include heightWidth(35rem, 50rem);
  border-radius: 30px;
  background-color: $white;

  .informationSection {
    // @include outline(brown);
    @include heightWidth(100%, 100%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    .heading {
      font-size: 3rem;
      color: $Blue800;
      margin-top: 5rem;
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .headingTwo {
      font-size: 16px;
      font-weight: 330;
      color: $Blue800;
      line-height: 130%;
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .ulList {
      padding: 0;
      margin-bottom: 2rem;
    }

    .ulList li {
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 13px;
      color: $Blue800;
      margin-left: 1.5rem;
      font-size: 15px;
    }

    .list-icon {
      width: 18px;
    }

    form {
      height: 10rem;
      display: flex;
      flex-direction: column;

      .email {
        font-size: 13px;
        color: $Blue800;
        font-weight: 600;
        margin-bottom: 8px;
        margin-left: 1.5rem;
      }

      .errorDiv {
        display: flex;
        gap: 10rem;
      }

      #errorSpan {
        font-size: 12px;
        color: $Red;
        font-weight: 600;
      }

      .inputField {
        @include heightWidth(2.7rem, 21.5rem);
        border-radius: 6px;
        border: 1px solid $Grey;
        margin-bottom: 20px;
        margin-left: 1.5rem;
      }

      #inputF.errorInput {
        @include heightWidth(2.7rem, 21.5rem);
        border-radius: 6px;
        border: 1px solid $Red;
        margin-bottom: 20px;
        margin-left: 1.5rem;
        background-color: hsl(0, 67%, 91%);
      }

      #inputF.testError::placeholder {
        color: red;
      }

      .submitButton {
        @include heightWidth(3rem, 22rem);
        border-radius: 6px;
        border: none;
        background-color: $Blue800;
        color: $white;
        font-weight: 600;
        font-size: 14px;
        margin-left: 1.5rem;
      }

      input.inputField {
        text-indent: 15px;
      }
    }
  }

  figure {
    margin: 0;
  }
  .figureSection {
    @include heightWidth(100%, 100%);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .figureImage {
    height: 520px;
    width: 400px;
  }

  #sbutton.test {
    background-image: linear-gradient(to right, $Gradient4, $Graident3);
  }
}

#confirmation {
  display: none;
  outline: 2px solid black;
  width: 370px;
  height: 370px;
  background-color: $white;
  border-radius: 2rem;
}

#confirmation.activate {
  display: block;
}

.confirmationTick {
  padding-left: 2.5rem;
  padding-top: 2.5rem;
  width: 40px;
  height: 40px;
}

#confirmation > h1 {
  font-size: 2.8rem;
  font-weight: 500;
  color: $Blue800;
  padding-left: 2.5rem;
  margin-top: 20px;
  line-height: 100%;
  margin-bottom: 20px;
}

#text {
  font-size: 12px;
  color: $Blue800;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 1.8rem;
}

#confirmButton {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  height: 2.5rem;
  width: 18rem;
  color: $white;
  border: none;
  border-radius: 5px;
  background-color: $Blue800;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    background-image: linear-gradient(to right, $Gradient4, $Graident3);
  }
}

/*---- media query ---*/


